.page {
  font-family: var(--font-jost), sans-serif;
}

.carDetailMain {
  padding: 100px 0;
}

.carDetailContent h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
}

.carDetailContentHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carDetailContentHeading  p {
  font-size: 16px;
  color: #9E9E9E;
  display: flex;
  align-items: center;
  gap: 10px;
}

.carDetailRating p {
  color: #ffdd3c;
  font-size: 24px;
  font-weight: bold;
}

.carDetailImage img {
  width: 100%;
  height: 500px;
}

.carDetailBox {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 8px;
  margin: 20px 0;
  color: #9E9E9E;
}

.carDetailBoxContent h6 {
  margin-bottom: 5px;
}

.carDetailBoxContent p {
  margin-bottom: 0;
}

.carFeatures {
  margin-top: 50px;
}

.carFeatures h4{
  font-size: 20px;
}

.carFeatures ul {
  padding-left: 0;
  margin-top: 15px;
}

.carFeatures ul li {
  list-style-type: none;
  gap: 10px;
  display: flex;  
  margin-bottom: 10px;
  color: #616161;
}

.carFeaturesList {
  display: flex;
  gap: 40px;
}

.carDetailBoxButton p {
  margin-bottom: 0;
  color: #17BEBB;
  font-size: 20px;
}

.themeBtn {
  background-color: #17BEBB;
  border-color: #17BEBB;
  height: 55px;
  padding: 10px 60px;
}

.carDetailBoxButton {
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 8px;
}

.aboutSection {
  margin-top: 40px;
}

.aboutSection h4 {
  font-size: 24px;
  margin-bottom: 30px;
}

.aboutSection p {
  font-size: 16px;
  color: #616161;
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .carDetailImage img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }  
  .themeBtn {
    padding: revert;
  }
}